---
extends: default

ignore: |
  .github/workflows/old.test/
  policies/
  .github/labeller-content-based.yaml
  .github/labeller-file-based.yaml

rules:
  new-lines:
    type: platform
  trailing-spaces: disable
  new-line-at-end-of-file: disable
  line-length:
    max: 300
    allow-non-breakable-inline-mappings: true
  document-start: disable
  truthy: disable
  brackets: disable
  indentation: disable
  comments-indentation: disable
  empty-lines: disable
