---
name: Recap PR

on:
  workflow_call:
  pull_request:
    types: [opened]

jobs:
  recap:
    runs-on: ubuntu-latest
    steps:
      - name: Recap changes
        if: github.actor == 'dlrsp-bot' && github.workflow != 'Upgrade dependencies'
        uses: flowwer-dev/recap@main
        with:
          openai-apikey: ${{ secrets.OPENAI_APIKEY }}
          publish-as: DESCRIPTION
